footer {
    background-color:indigo;
    color:white;
    padding: 50px 0;
    text-align: left;
   
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0;
    
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section p,
.footer-section ul,
.footer-section form {
    font-size: 14px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color:white;
    text-decoration: none;

}

.footer-section form {
    display: flex;
}

.footer-section form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.footer-section form button {
    padding: 10px;
    background-color: #ff7e00;
    border: none;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.footer-bottom {
    background-color:rgba(0, 0, 0, 0.227);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-bottom ul li {
    margin: 0 10px;
}

.footer-bottom ul li a {
    color:white;
    text-decoration: none;
}



.footer-section .social-icons {
    margin-top: 20px;
}

.footer-section .social-icons a {
    margin-right: 10px;
    color:gold;
    text-decoration: none;
    font-size: 18px;
}

.footer-section .social-icons a:hover {
    color: #ff7e00;
}
.F1{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;

}
.footer-section img{
    
    
    filter: invert(1);
    filter: brightness(800%);
   
  
  }
  
/*========================================================================*/
